1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
Num = 12
print (Num)

12

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type (Num)

int

4) Crear una variable que contenga tu nombre

In [7]:
Nombre = "Hernan"
print (Nombre)

Hernan

5) Crear una variable que contenga un número complejo

In [16]:
Numero_C = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [17]:
type (Numero_C)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [18]:
PI = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [19]:
Variable1 = "True"
Variable2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [22]:
print ("La variable 1 es de tipo", type(Variable1), "y la variable 2 es de tipo", type(Variable2))

La variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [31]:
x = 12 + 5.5
print(x)

17.5

11) Realizar una operación de suma de números complejos

In [40]:
a = 2 + 3j
b = 5 + 5j
print (a + b)

(7+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [29]:
c = a + 12.5
print(c)

(16.5+6j)

13) Realizar una operación de multiplicación

In [32]:
d = x * 2
print(d)

35.0

14) Mostrar el resultado de elevar 2 a la octava potencia

In [35]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [36]:
j = 27/4
print(j)

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [38]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [39]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [42]:
var1 = "Hola "
var2 = "mundo"
print(var1 + var2)

Hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [43]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [49]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Por que las comillas indica que es un string

In [50]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [51]:
var3 = 3
var3 -= 1
print(var3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

no se
Sistema donde se utilizan solo 0 y 1

In [52]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

Por que uno es string y el otro un entero, depende si los dos fueran enteros realizaria la suma, si fueran string pondria 22.

In [54]:

2 +"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
float(2) + float('2')

4.0

In [57]:
int(2) + int('2')

4

In [58]:
str(2) + str('2')

'22'


26) Realizar una operación válida entre valores de tipo entero y string

In [64]:
h = 2 
z = "se repite "
print (z * h + str(h) + " veces")

se repite se repite 2 veces