In [1]:
mi_lista = ['Buenos aires','madrid','angola','haiti','ucrania','wakanda']
print(mi_lista)

['Buenos aires', 'madrid', 'angola', 'haiti', 'ucrania', 'wakanda']

2) Imprimir por pantalla el segundo elemento de la lista

In [3]:
print(mi_lista[1])

madrid

3) Imprimir por pantalla del segundo al cuarto elemento

In [4]:
print(mi_lista[1:4])

['madrid', 'angola', 'haiti']

4) Visualizar el tipo de dato de la lista

In [14]:
print(type(mi_lista))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [15]:
print(mi_lista[2:])

['angola', 'haiti', 'ucrania', 'wakanda', 'Brazilia']

6) Visualizar los primeros 4 elementos de la lista

In [11]:
print(mi_lista[:4])

['Buenos aires', 'madrid', 'angola', 'haiti']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [17]:
mi_lista.append('Brasilia')
mi_lista.append('angola')
print(mi_lista)

['Buenos aires', 'madrid', 'angola', 'haiti', 'ucrania', 'wakanda', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola']

8) Agregar otra ciudad, pero en la cuarta posición

In [18]:
mi_lista.insert(3,'ciudad de mexico')
print(mi_lista)

['Buenos aires', 'madrid', 'angola', 'ciudad de mexico', 'haiti', 'ucrania', 'wakanda', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola']

9) Concatenar otra lista a la ya creada

In [20]:
mi_lista.extend(['Rojo', 'Azul', 'Amarillo', 'Negro', 'Naranja', 'Violeta', 'Verde'])
print(mi_lista)

['Buenos aires', 'madrid', 'angola', 'ciudad de mexico', 'haiti', 'ucrania', 'wakanda', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola', 'Rojo', 'Azul', 'Amarillo', 'Negro', 'Naranja', 'Violeta', 'Verde']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [21]:
print(mi_lista.index('ciudad de mexico'))

3

11) ¿Qué pasa si se busca un elemento que no existe?

In [22]:
print(lis.index('París'))

NameError: name 'lis' is not defined

12) Eliminar un elemento de la lista

In [23]:
mi_lista.remove('wakanda')
print(mi_lista)

['Buenos aires', 'madrid', 'angola', 'ciudad de mexico', 'haiti', 'ucrania', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola', 'Rojo', 'Azul', 'Amarillo', 'Negro', 'Naranja', 'Violeta', 'Verde']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [24]:
mi_lista.remove('3')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [25]:
ultimo = mi_lista.pop()
print(ultimo)

Verde

15) Mostrar la lista multiplicada por 4

In [27]:
print(mi_lista * 4)

['Buenos aires', 'madrid', 'angola', 'ciudad de mexico', 'haiti', 'ucrania', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola', 'Rojo', 'Azul', 'Amarillo', 'Negro', 'Naranja', 'Violeta', 'Buenos aires', 'madrid', 'angola', 'ciudad de mexico', 'haiti', 'ucrania', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola', 'Rojo', 'Azul', 'Amarillo', 'Negro', 'Naranja', 'Violeta', 'Buenos aires', 'madrid', 'angola', 'ciudad de mexico', 'haiti', 'ucrania', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola', 'Rojo', 'Azul', 'Amarillo', 'Negro', 'Naranja', 'Violeta', 'Buenos aires', 'madrid', 'angola', 'ciudad de mexico', 'haiti', 'ucrania', 'Brazilia', 'Brasilia', 'ciudad de mexico', 'Brasilia', 'angola', 'Rojo', 'Azul', 'Amarillo', 'Negro', 'Naranja', 'Violeta']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [29]:
mi_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(mi_tupla))
print(mi_tupla)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [33]:
print(mi_tupla[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [35]:
print(20 in mi_tupla)
print(30 in mi_tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [37]:
elemento = 'París'
if (not(elemento in mi_lista)):
    mi_lista.append(elemento)
    print('Se insertó el elemento', elemento)
else:
    print('El elemento', elemento, 'ya existía')

Se insertó el elemento París

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [40]:
print(mi_tupla.count(10))
print(mi_lista.count('Montevideo'))

1
0

21) Convertir la tupla en una lista

In [42]:
mi_lista2=list(mi_tupla)
print(mi_lista2)
print(type(mi_lista2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [43]:
v1, v2, v3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = mi_tupla
print(v1)
print(v2)
print(v3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [ ]:
mi_diccionario = {  'ciudad': ['Rojo','Azul','Amarillo'], 
                    'pais': ['Naranja','Violeta','Verde'], 
                    'continente': 10,}